<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item item_1 active">
      <div class="image_mask">
        <img class="d-block img-fluid" src="/images/card_back.jpg" alt="First slide">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h3>“Everything we care about lies somewhere in the middle, where pattern and randomness interlace.”</h3>
        <p>― James Gleick</p>
      </div>
    </div>
    <div class="carousel-item item_2">
      <div class="image_mask">
        <img class="d-block img-fluid" src="/images/card_back_2.jpg" alt="Second slide">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h3>“Every life is a unique random business”</h3>
        <p>― Bangambiki Habyarimana</p>
      </div>
    </div>
    <div class="carousel-item item_3">
      <div class="image_mask">
        <img class="d-block img-fluid" src="/images/card_back_3.jpg" alt="Second slide">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h3>“Nothing’s random. Even if it looks that way, it’s just because you don’t know the causes.”</h3>
        <p>― Johnny Rich</p>

      </div>
    </div>
  </div>
</div>
